:root{

--primary:#2563EB;
--primary-dark:#1D4ED8;

--success:#16A34A;
--danger:#DC2626;
--warning:#F59E0B;

--background:#F8FAFC;
--surface:#FFFFFF;

--sidebar:#0F172A;

--text:#1E293B;
--text-light:#64748B;

--radius:14px;

--shadow:0 12px 30px rgba(0,0,0,.08);

}